body {
    margin: 0px;
    cursor: var(--arrow), default;
}

a {
    text-decoration: none;
    color: #e4ab0d;
}

.link {
    cursor: var(--hand), default;
}

.theme_img {
    cursor: var(--up_arrow), default;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}
