body {
    margin: 0px;
    cursor: var(--arrow), default;
}

a {
    text-decoration: none;
    color: #333;
    cursor: var(--hand), default;
}

.link {
    cursor: var(--hand), default;
}

.theme_img {
    cursor: var(--up_arrow), default;
}

p {
    margin: 0;
}
