:root {
    --arrow: url("/static/image/mouse/Hacked\ Mod\ Blue/Arrow.cur");
    --hand: url("/static/image/mouse/Hacked\ Mod\ Blue/Hand.cur");
    --up_arrow: url("/static/image/mouse/Hacked\ Mod\ Blue/UpArrow.cur");
}
