:root {
    --arrow: url("/static/image/mouse/Hacked\ Mod\ Green/Arrow.cur");
    --hand: url("/static/image/mouse/Hacked\ Mod\ Green/Hand.cur");
    --up_arrow: url("/static/image/mouse/Hacked\ Mod\ Green/UpArrow.cur");
}
