:root {
    --arrow: url("/static/image/mouse/Hacked\ Mod\ Purple/Arrow.cur");
    --hand: url("/static/image/mouse/Hacked\ Mod\ Purple/Hand.cur");
    --up_arrow: url("/static/image/mouse/Hacked\ Mod\ Purple/UpArrow.cur");
}
