:root {
    --arrow: url("/static/image/mouse/Hacked\ Mod\ Red/Arrow.cur");
    --hand: url("/static/image/mouse/Hacked\ Mod\ Red/Hand.cur");
    --up_arrow: url("/static/image/mouse/Hacked\ Mod\ Red/UpArrow.cur");
}
