:root {
    --arrow: url("/static/image/mouse/Hacked\ Mod\ White/Arrow.cur");
    --hand: url("/static/image/mouse/Hacked\ Mod\ White/Hand.cur");
    --up_arrow: url("/static/image/mouse/Hacked\ Mod\ White/UpArrow.cur");
}
