:root {
    --arrow: url("/static/image/mouse/Hacked\ Mod\ Yellow/Arrow.cur");
    --hand: url("/static/image/mouse/Hacked\ Mod\ Yellow/Hand.cur");
    --up_arrow: url("/static/image/mouse/Hacked\ Mod\ Yellow/UpArrow.cur");
}
